tbldefs/UnitTitleLog_Work.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
  <xsd:element name="dataroot">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="UnitTitleLog_Work" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="generated" type="xsd:dateTime"></xsd:attribute>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="UnitTitleLog_Work">
    <xsd:annotation>
      <xsd:appinfo>
        <od:index index-name="LastEntryTypeId" index-key="LastEntryTypeId " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_20_19" index-key="AssetID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_22_21" index-key="AssetID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_243_242" index-key="EntryTypeId " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_26_25" index-key="AssetID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_78_77" index-key="AssetID UnitTitleLogDate " primary="no" unique="no" clustered="no" order="asc asc"></od:index>
        <od:index index-name="missing_index_80_79" index-key="AssetID " primary="no" unique="no" clustered="no" order="asc"></od:index>
        <od:index index-name="missing_index_98_97" index-key="AssetID UnitTitleLogDate " primary="no" unique="no" clustered="no" order="asc asc"></od:index>
        <od:index index-name="PK_UnitTitleLog_A" index-key="UnitTitleLogID " primary="yes" unique="yes" clustered="no" order="asc"></od:index>
        <od:tableProperty name="Orientation" type="2" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOn" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DefaultView" type="2" value="2"></od:tableProperty>
        <od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"></od:tableProperty>
        <od:tableProperty name="TotalsRow" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="FilterOnLoad" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="OrderByOnLoad" type="1" value="1"></od:tableProperty>
        <od:tableProperty name="HideNewField" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="BackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="BackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="ThemeFontIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="AlternateBackTint" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="AlternateBackShade" type="6" value="100"></od:tableProperty>
        <od:tableProperty name="ReadOnlyWhenDisconnected" type="1" value="0"></od:tableProperty>
        <od:tableProperty name="DatasheetGridlinesThemeColorIndex" type="4" value="-1"></od:tableProperty>
        <od:tableProperty name="DatasheetForeThemeColorIndex" type="4" value="-1"></od:tableProperty>
      </xsd:appinfo>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="UnitTitleLogID" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="Required" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="AssetID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="VIN" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="UnitStatus" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="EntryTypeId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="EntryReasonId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="EntryReason" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="250"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TitleNumber" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="50"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TitleSt" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="5"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="UnitTitleLogDate" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ShowDatePicker" type="3" value="1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="ExpectedReturn" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="UserID" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="250"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Desc" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="LastDirection" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="LastEntry" minOccurs="0" od:jetType="text" od:sqlSType="nvarchar">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="AllowZeroLength" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="IMEMode" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="IMESentenceMode" type="2" value="3"></od:fieldProperty>
              <od:fieldProperty name="UnicodeCompression" type="1" value="1"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="255"></xsd:maxLength>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="LastEntryTypeId" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
          <xsd:annotation>
            <xsd:appinfo>
              <od:fieldProperty name="ColumnWidth" type="3" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ColumnOrder" type="3" value="0"></od:fieldProperty>
              <od:fieldProperty name="ColumnHidden" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DecimalPlaces" type="2" value="255"></od:fieldProperty>
              <od:fieldProperty name="DefaultValue" type="12" value="0"></od:fieldProperty>
              <od:fieldProperty name="Required" type="1" value="0"></od:fieldProperty>
              <od:fieldProperty name="DisplayControl" type="3" value="109"></od:fieldProperty>
              <od:fieldProperty name="TextAlign" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="AggregateType" type="4" value="-1"></od:fieldProperty>
              <od:fieldProperty name="ResultType" type="2" value="0"></od:fieldProperty>
              <od:fieldProperty name="CurrencyLCID" type="4" value="0"></od:fieldProperty>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
